In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../../experiments/csvs/nlo_GAN_hypertune_biggest_ever.csv', index_col=0)
df.head(5)

        mse                                             hypers
0  0.812771  {'gan_niters': 5000, 'gan_d_lr': 0.001, 'gan_g...
1  0.220541  {'gan_niters': 5000, 'gan_d_lr': 0.001, 'gan_g...
2  0.810124  {'gan_niters': 5000, 'gan_d_lr': 0.001, 'gan_g...
3  0.810116  {'gan_niters': 5000, 'gan_d_lr': 0.001, 'gan_g...
4  0.230535  {'gan_niters': 5000, 'gan_d_lr': 0.001, 'gan_g...

In [3]:
from pandas.io.json import json_normalize

In [4]:
res = pd.concat((df.mse, json_normalize(df.hypers.apply(eval))), axis=1)

In [16]:
top_n = 10
top_5k = res.sort_values(by='mse').loc[res.gan_niters==5000].iloc[0:top_n]
top_10k = res.sort_values(by='mse').loc[res.gan_niters==10000].iloc[0:top_n]
top_20k = res.sort_values(by='mse').loc[res.gan_niters==20000].iloc[0:top_n]

In [17]:
merge1 = pd.merge(top_5k, top_10k, on=list(res.columns.drop(["mse", "gan_niters"])))

In [18]:
merge2 = pd.merge(merge1, top_20k, on=list(res.columns.drop(["mse", "gan_niters"])))

In [19]:
merge2

,mse_x,gan_niters_x,gan_d_lr,gan_g_lr,gan_gamma,disc_n_hidden_units,disc_n_hidden_layers,gen_n_hidden_units,gen_n_hidden_layers,mse_y,gan_niters_y,mse,gan_niters
0,0.09686,5000,0.0001,0.001,1.0,64,16,64,14,0.099428,10000,0.038771,20000

In [21]:
top_5k

,mse,gan_niters,gan_d_lr,gan_g_lr,gan_gamma,disc_n_hidden_units,disc_n_hidden_layers,gen_n_hidden_units,gen_n_hidden_layers
69,0.014438,5000,0.0010,0.0001,0.9999,64,18,64,10
58,0.021507,5000,0.0010,0.0001,0.9990,64,16,64,12
180,0.029310,5000,0.0001,0.0010,1.0000,64,14,64,10
154,0.032335,5000,0.0002,0.0001,1.0000,64,14,64,12
40,0.056638,5000,0.0010,0.0002,0.9999,64,16,64,12
211,0.058800,5000,0.0001,0.0002,1.0000,64,16,64,12
61,0.087330,5000,0.0010,0.0001,0.9990,64,18,64,12
142,0.091398,5000,0.0002,0.0001,0.9990,64,18,64,12
185,0.096860,5000,0.0001,0.0010,1.0000,64,16,64,14
19,0.107838,5000,0.0010,0.0010,1.0000,64,14,64,12

In [22]:
top_10k

,mse,gan_niters,gan_d_lr,gan_g_lr,gan_gamma,disc_n_hidden_units,disc_n_hidden_layers,gen_n_hidden_units,gen_n_hidden_layers
276,0.009108,10000,0.0010,0.0002,0.9990,64,18,64,10
416,0.013220,10000,0.0001,0.0010,0.9999,64,14,64,14
322,0.053004,10000,0.0010,0.0001,1.0000,64,18,64,12
253,0.065626,10000,0.0010,0.0010,0.9999,64,14,64,12
385,0.073084,10000,0.0002,0.0001,0.9990,64,18,64,12
424,0.077189,10000,0.0001,0.0010,1.0000,64,14,64,12
421,0.079655,10000,0.0001,0.0010,0.9999,64,18,64,12
334,0.092029,10000,0.0002,0.0010,0.9999,64,14,64,12
430,0.093761,10000,0.0001,0.0010,1.0000,64,18,64,12
428,0.099428,10000,0.0001,0.0010,1.0000,64,16,64,14

In [23]:
top_20k

,mse,gan_niters,gan_d_lr,gan_g_lr,gan_gamma,disc_n_hidden_units,disc_n_hidden_layers,gen_n_hidden_units,gen_n_hidden_layers
664,0.000276,20000,0.0001,0.0010,0.9999,64,18,64,12
577,0.006078,20000,0.0002,0.0010,0.9999,64,14,64,12
519,0.009258,20000,0.0010,0.0002,0.9990,64,18,64,10
496,0.019299,20000,0.0010,0.0010,0.9999,64,14,64,12
659,0.028379,20000,0.0001,0.0010,0.9999,64,14,64,14
501,0.031841,20000,0.0010,0.0010,0.9999,64,18,64,10
671,0.038771,20000,0.0001,0.0010,1.0000,64,16,64,14
499,0.058389,20000,0.0010,0.0010,0.9999,64,16,64,12
502,0.062598,20000,0.0010,0.0010,0.9999,64,18,64,12
503,0.069718,20000,0.0010,0.0010,0.9999,64,18,64,14